body {
    background-color: #444649;
    height: 100%;
    overflow: hidden;
  }
  
  .App {
    text-align: center;
    max-width: 728px;
    margin: 0 auto;
  }
  
  .App header {
    background-color: #6895e9;
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    max-width: 728px;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .spacer{
    width: 40%;
  }

  
  .App section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(227, 226, 233);
  }
  
  main {
    position: relative;
    padding: 10px;
    height: 80vh;
    margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  .chatroomContainer{
    display: flex;
    justify-content:space-between;
  }

  main::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  main::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  main::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  form {
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: #000000;
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
  }
  
  form button {
    width: 20%;
    background-color: #6895e9;
  }
  
  
  input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgb(116, 115, 117);
    color: white;
    outline: none;
    border: none;
    padding: 0 10px;
  
  }
  
  button {
    background-color: #282c34; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  .sign-in, .sign-out {
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background: rgb(116, 115, 117);
    max-height: 60px;
    font-size: 98%;
  }

  .greeting{
      text-align: center;
      align-content: center;
      color: #6895e9;
      font-weight: 500;
      font-size: 25px;
  }

  .sendBtn{
    margin: -1rem;
  }

  .sidebarBtn{
    width: 50px;
    padding-bottom: 200px;
    z-index: 100;
  }

  .drawerBtn {
    border-radius: 0px;
    margin: -2vh;
    width: 30px;
    height: 30px;
  }

  .greeting-div{
      align-content: center;  
      align-self: center;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  .sign-in {
    color:white;
    background: rgb(116, 115, 117);
    max-width: 400px;
    margin: 0 auto;
  }
  
  ul, li {
    text-align: left;
    list-style: none;
  }
  
  p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .code-img-div img{
    width: 250px;
    height: 35vh;
  }

  .header-icon{
    margin-right:10px;
    width: 45px;
  }
  
  h1, .header-icon{
    display:inline-block;
    vertical-align:middle;
  }
  .message {
    display: flex;
    align-items: center;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
  }
  .received p {
    background: #93939e;
    color: white;
  }
  
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }


  